/target
/build
**/build/
*.exe
*.o
*.obj
*.asm
*.s
Cargo.lock
.idea/
.vscode/
*.log
.cursorrules
.cursorignore
.cursor/
# Package manager
packages/
# MkDocs build output
site/
# Python package build
*.egg-info/
QuinusLang-portable.zip
QuinusLang-portable/
/installer_output/